<strong>Ola, {{ name }}</strong>
<p>Sua pergunta foi respondida! Veja abaixo os detalhes:</p>
<p>
<strong>Sua duvida: </strong> {{ question }} <br/>
<strong>Resposta do instrutor: </strong>{{ answer }} <br/>
</p>
<small>Obrigado pela preferencia! Bora treinar []s</small>